$white:white;
$black:black;
main{
    background-color: $black;
    color: $white;
    padding: 2rem;
form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color: $white;
    color: $black;
    display: flex;
    flex-direction: column;
    input {
        padding: 5px 20px;
        // width: 100%;
        line-height: 16px;
        margin: 10px 0;
    }
    input:last-of-type{
        align-self: center;
    }
}
}

#results{
    background-color: white;
    color: black;
    padding: 2rem;
    p{
        margin-bottom: 1rem;
    }
}